
.margem {
	margin-top:2%;
	margin-bottom: 2%;
	text-align: center;
}

.titulo{
	text-align: center;
	margin-bottom: 2%;
}
.cores{
	color:#fff;
	height: 50%;
}
.texto-centro{
	text-align: center;
}
#sucesso-header{
	background: #83ba3b;
	color:#fff;
	padding: 10% 10% 2% 10%;
}
#sucesso-icon{
	font-size: 40px;
}
#sucesso-body{
	background: #eceeee;
	padding: 10%;
}
#sucesso-cod-env{
	background: #fff;
	padding: 1%;
}